# -------- Modules JS (.mjs) --------
# 1) essaie standard
AddType text/javascript .mjs

# 2) si AddType est ignoré, on FORCE le type
<FilesMatch "\.mjs$">
  ForceType text/javascript
</FilesMatch>

# Quelques types utiles
AddType application/javascript .js
AddType application/json .json
AddType text/css .css
AddType audio/mpeg .mp3
AddType image/png .png
AddType image/jpeg .jpg .jpeg
AddType image/webp .webp

# Évite la négociation de contenu (peut perturber les .mjs)
Options -MultiViews
